<div style="display: flex; flex-flow: row wrap; align-items: center; justify-content: center;">
    <img appTiltEffect appMoveAway class="portrait-img" src="/assets/portrait.jpg" alt="image" (load)="portraitLoaded()">

  <div class="text-block">
    <h1 appTiltEffect>> Hi, I'm Isaac Post.</h1>
    <br>

    <h2 appTiltEffect>
      I’m a software engineer who combines technical rigor with design sensibility, 
      building systems that are as reliable as they are visually coherent.
      <br>

      <br>

      <div style="text-align: center;">
        Thank you for visiting my site!
      </div>
    </h2>
  </div>
</div>