<div style="display: flex; flex-flow: row wrap; align-items: center; justify-content: space-around;">
    <img src="/assets/test_portrait.jpg" alt="image">

    <div class="text-block">
        <h1>Hi, I'm Isaac.</h1>

        <h2>
            I'm an enthusiastic and ideas-driven software engineer studying at Rochester Institute of Technology.
            I have over 5 years of professional and educational experience with web development, databases, backend, 
            cloud engineering, game development, and music production. 
        </h2>
    </div>

    <div class="text-block">
        <h1>Getting to Know Me</h1>

        <h2>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore 
            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut 
            aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum 
            dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia 
            deserunt mollit anim id est laborum."
        </h2>
    </div>

    <img src="/assets/test_portrait.jpg" alt="image">
</div>