<div style="display: flex; flex-flow: row wrap; align-items: center; justify-content: space-around;">
    <img src="/assets/portrait.jpg" alt="image" (load)="portraitLoaded()">

    <div class="text-block">
        <h1>Hi, I'm Isaac.</h1>

        <h2>
            I'm an enthusiastic and ideas-driven software engineer studying at Rochester Institute of Technology.
            I have over 5 years of professional and educational experience with full stack web development,
            cloud engineering, game development, and music production. 
        </h2>
    </div>

    <div class="text-block">
        <h1>Get to Know Me!</h1>

        <h2>
            I live in downtown Rochester, NY with my girlfriend Mikayla and our wonderful cat Frida. 
            As a software developer, it's probably no suprise that I am a big nerd. Some of my hobbies
            include playing and speedrunning video games, watching movies with my friends, and playing tabletop 
            games like Magic: The Gathering. I also produce music in my free time, which you can check out on my 
            YouTube channel!
        </h2>
    </div>

    <img src="/assets/test_portrait.jpg" alt="image">

    <c-carousel>
        <c-carousel-indicators></c-carousel-indicators>
        <c-carousel-inner>
          <c-carousel-item *ngFor="let slide of slides">
            <img
              alt="{{slide.title}}"
              class="d-block w-100"
              loading="lazy"
              src="{{slide.src}}"
            />
            <c-carousel-caption class="d-none d-md-block">
              <h3>{{slide.title}}</h3>
              <p>{{slide.subtitle}}</p>
            </c-carousel-caption>
          </c-carousel-item>
        </c-carousel-inner>
        <c-carousel-control [routerLink] caption="Previous" direction="prev"></c-carousel-control>
        <c-carousel-control [routerLink] caption="Next" direction="next"></c-carousel-control>
      </c-carousel>
</div>