<!DOCTYPE html>

<html>
  <head>
    <title>{{title}}</title>
  </head>

  <body>
    <mat-toolbar>
        <mat-toolbar-row [class.mat-elevation-z8]="true">
          <span class="name">{{title}}</span>
        </mat-toolbar-row>

        <mat-toolbar-row>
          <a mat-button routerLink="/about">About Me!</a>
          <a mat-button routerLink="/projects">Projects</a>
          <a mat-button routerLink="/music">Music</a>
          <a mat-button routerLink="/contact">Contact</a>
        </mat-toolbar-row>

    </mat-toolbar>

    <router-outlet></router-outlet>
  </body>
</html>