<!DOCTYPE html>

<html>
  <head>
    <title>{{title}}</title>
  </head>

  <body>
    <div>
      <mat-toolbar style="position: fixed; top: 0;">
          <mat-toolbar-row [class.mat-elevation-z8]="true">
            <span class="name">{{title}}</span>
          </mat-toolbar-row>

          <mat-toolbar-row style="color: #E9F1F7;">
            <a style="margin-left: 10%;" mat-button routerLink="">About Me!</a>
            <a mat-button routerLink="projects">Projects</a>
            <a mat-button routerLink="music">Music</a>
            <a mat-button routerLink="contact">Contact</a>
          </mat-toolbar-row>

      </mat-toolbar>

      <div *ngIf="inProduction; else developmentMsg" style="margin-top: 128px; margin-inline: 10%;">
        <router-outlet></router-outlet>
      </div>

      <ng-template #developmentMsg>
        <div style="text-align: center; margin-top: 128px; font-size: 30px; line-height: 50px;">
          Site is currently in development.
          Please check back later!
          <br>
          - Isaac
        </div>
      </ng-template>
    </div>
  </body>
</html>