.toolbar-nav {
    font-size: 130%;
    margin-right: 1%;
}

.drawer-nav {
    font-size: 200%;
    width: 100%;
    margin-block: 10%;
}

.name {
    margin: auto;
    font-size: 200%;

    background-image: linear-gradient(#00ff08, #504aff);
    background-clip: text;
    background-size: 100%;
    background-repeat: repeat;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.active{ 
    background: #504aff
}

.footer-text {
    font-size: min(12px, 36px);
    text-align: center; 
    color: darkgray;
}

.material-icons {
    font-family: 'Material Icons' !important;
}

.box {
  width: 200px;
  height: 200px;
  background-color: #3498db;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  will-change: transform, box-shadow;
  margin: 40px;
  display: inline-block;
  border-radius: 12px; /* optional styling */
}

.box-move-away {
  width: 200px;
  height: 200px;
  background-color: #e67e22;
  transition: transform 0.2s ease;
  will-change: transform;
  margin: 40px;
  display: inline-block;
  border-radius: 12px;
}