<div style="text-align: center; padding: 5%; font-size: 25px; line-height: 50px;">
    Have any questions or just want to get in touch? 
    <br>
    Feel free to reach out!
</div>

<div style="display: flex; flex-direction: row; justify-content: space-around; flex-wrap: wrap; margin-bottom: 1%;">
    <mat-card>
        <mat-icon class="icon-display">phone_iphone</mat-icon>
        <h1>(585) 481-0598</h1>
    </mat-card>

    <mat-card>
        <mat-icon class="icon-display">mail</mat-icon>
        <h1>ijp5155&#64;rit.edu</h1>
    </mat-card>

    <mat-card>
        <mat-icon class="icon-display">discord</mat-icon>
        <h1>postofficepost</h1>
    </mat-card>
</div>