mat-card {
    color: white;
    width: 350px;
    height: 200px;
    margin: 1%;
    background-color: #212121;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

h1 {
    font-size: min(30px, 60px);
    line-height: 80px;
    white-space: nowrap;
    width: 100%;
}

.material-icons{
    font-family: 'Material Icons' !important;
}

.icon-display {
    font-size: 100px;
    height: 100px;
    width: 100px;
    padding: 5%;
    color: #00ff08 !important;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}