<h1>> Contact</h1>

<div style="text-align: center; font-size: 25px; line-height: 50px;">
    Have any questions or just want to get in touch? 
    <br>
    Feel free to reach out!
</div>

<div style="display: flex; flex-direction: row; justify-content: space-around; flex-wrap: wrap; margin-bottom: 1%;">
    <mat-card>
        <mat-icon class="icon-display">phone_iphone</mat-icon>
        <h2>(585) 481-0598</h2>
    </mat-card>

    <mat-card>
        <mat-icon class="icon-display">mail</mat-icon>
        <h2>ijp5155&#64;rit.edu</h2>
    </mat-card>

    <mat-card>
        <mat-icon class="icon-display">discord</mat-icon>
        <h2>postexile</h2>
    </mat-card>
</div>