
@font-face {
    font-family: 'Gayo';
    src: url('/assets/Gayo.ttf');
}

@font-face {
    font-family: 'Kode';
    src: url('/assets/KodeMono.ttf');
}

* {
    font-family: "Kode" !important;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  background-color: rgba(0, 0, 0, 0.9); /* darkness amount */
  background-image: url('/assets/texture.png');
  background-repeat: repeat;
  background-blend-mode: darken;
}