<div style="display: flex; flex-direction: column; align-items: center; height: 100%;">
    <div style="text-align: center; margin-top: 128px; font-size: 30px; line-height: 50px; margin-inline: 15%;">
        My music page is currently in development. Here I will showcase some synth-focused music I have written using YouTube's API.

        <br><br>

        In the meantime, check out my YouTube page <a href="https://www.youtube.com/channel/UCgkM0QJsPfKYcMkIHoQ4u-A" target="_blank">HERE</a>
    </div>
</div>