mat-button {
    color: black !important;
}

mat-card {
    margin: 2%;
    color: white;
}

.card-cont {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.single-card {
    max-width: 600px;
    background-color: #212121;
    border-radius: 25px;
}

@media (min-width: 768px) {
  .single-card:nth-child(even) {
      margin-top: 150px;
  }

  .single-card:nth-child(odd) {
      margin-bottom: 150px;
  }
}

img {
    border: #504aff 2px solid;
    width: 100%;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    line-height: 30px;
    padding: 3%;
}

h1 {
    font-size: min(30px, 80px);
    white-space: nowrap;
    width: 100%;
    font-weight: bold;
    color: white;
}

button {
    color: #00ff08 !important;
    border:#00ff08 1px solid;
    z-index: 0;
    margin-right: 2%;
}

mat-card{
  display:flex;
  flex-direction: column;
}

mat-card-header {
  flex-shrink: 0;
  padding-bottom: 1%;
  
}

mat-card-content{
  flex-grow: 1;
  overflow: auto;
}